body {
    all:unset;
    background-image: url("../image/hamburgo.png");
    background-size:100vmax;

}
.background {
    display: flex;
    position: absolute;
    width: 100vw;
    height: 100vh;
}
.page {
    display: flex;
    flex-direction: column;
    
}
.header {
    /* margin-top: -14px; */
    position: static;
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100px;
    background-color: rgb(87, 133, 133, 0.3);
    border-bottom: 1px solid white;
    
    justify-content: space-between;
    align-items: center;
}
.logo-text {
    font-family: 'Kdam Thmor Pro', sans-serif;
    /* font-family: 'Dancing Script', cursive; */
    font-size: 60px;
    color: rgba(255, 255, 255, 0.8);
    margin-top: 50px;
    margin-left: 100px;
}
.slogan {
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-size: 30px;
    color: rgb(202, 238, 105, 0.8);
    margin-top: 240px;
    margin-left: -640px;
}
.links {
    all: unset;
    margin-top: 5px;
}
.Home {
    all: unset;
    font-family: 'Kdam Thmor Pro', sans-serif;
    color: rgb(202, 238, 105);

    margin-right: 15px;
    cursor: pointer;
}
.Us {
    all: unset;
    font-family: 'Kdam Thmor Pro', sans-serif;
    color: rgb(255, 255, 255);

    margin-right: 15px;
    cursor: pointer;
}
.Us:hover {
    color: rgb(202, 238, 105);
}
.Projects {
    all: unset;
    font-family: 'Kdam Thmor Pro', sans-serif;
    color: rgb(255, 255, 255);

    margin-right: 15px;
    cursor: pointer;
}
.Projects:hover {
    color:  rgb(202, 238, 105);
}
.Contact {
    all: unset;
    font-family: 'Kdam Thmor Pro', sans-serif;
    color:  rgb(255, 255, 255);
    margin-right: 35px;
    cursor: pointer;
}
.Contact:hover {
    color: rgb(202, 238, 105);
}
.center {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 78vh;
    justify-content: center;
}
.center-text {
    position: absolute;
    display: flex;
    flex-direction: column;
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-size: 20px;
    color: white;
    padding-right: 60px;
    padding-top: 40px;

    width: 600px;
    height: 400px;

    margin-top: 150px;
    margin-left: -800px;

    border-right: 1px solid white;
}
footer {
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-size: 12px;
    color: rgb(255, 255, 255);

    text-align: center;

}
